<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Vue Email List</title>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/axios/0.20.0/axios.min.js"></script> <!-- AXIOS -->
    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script> <!-- VUE -->
    <script src="js/script.js" defer></script>
    <link rel="stylesheet" href="css/style.css">
</head>

<body>

    <div id="app">

        <!-- <button @click="generateTenRandomEmail">Generate random emails</button> -->

        <div v-if="loading">CARICAMENTO {{ loadingStatus }}% </div>

        <div v-else>
            <div v-for="(email, index) in listEmails">
                <ul>
                    <li><span> {{ index + 1 }} {{ ' - ' + email }} </span></li>
                </ul>
            </div>
        </div>

    </div>

</body>

</html>